@import '../../App.scss';

.navbar{
    position: static;
    top: 0;
    background-color: #ff3300;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    padding: 5px 30px;
    gap: 30px;
    position: sticky;
    z-index: 1000;
    @include normalMobile{
        padding: 5px 15px;
        gap: 15px;
    }
    @include xsmallMobile{
        justify-content: space-between;
        padding: 5px 5px 0px 5px;
    }
    .left{
        p{
            font-family: 'Pacifico', cursive;
            font-size: 30px;
            cursor: pointer;
            @include normalMobile{
                font-size: 20px;
            }
        }
    }
    .center{
        @include xsmallMobile{
            display: none;
        }
        flex: 1;
    }
    .right{
        .menu-list{
            list-style: none;
            display: flex;
            align-items: center;
            gap: 15px;
            @include normalMobile{
                gap: 10px;
            }
            .menu-item{
                display: flex;
                align-items: center;
                cursor: pointer;
                position: relative;
                .menu-icon{
                    .icon{
                        font-size: 20px;
                        gap: 15px;
                        @include normalMobile{
                            font-size: 18px;
                            gap: 10px;
                        }
                    }
                }
                p{
                    margin-left: 5px;
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    @include normalMobile{
                        display: none;
                    }
                }
                span{
                    position: absolute;
                    right: -10px;
                    top:-10px;
                    background-color: white;
                    border-radius: 20px;
                    padding: 2px;
                    height: 15px;
                    min-width: 15px;
                    color: #ff3300;
                    display: flex;
                    font-weight: 600;
                    font-size: 10px;
                    justify-content: center;
                    align-items: center;
                }
                button{
                    padding: 5px 10px;
                    font-size: 16px;
                    font-weight: 600;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    color: #ff3300;
                    background-color: white;
                }
            }
            .menu-item-user{
                display: flex;
                align-items: center;
                .user-icon{
                    font-size: 30px;
                    @include normalMobile{
                        font-size: 22px;
                    }
                    margin-right: 5px;
                }
                .info{
                    @include xsmallMobile{
                        display: none;
                        font-size: 12;
                    }
                    letter-spacing: 1px;
                    font-size: 15px;
                    @include normalMobile{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
.down-search{
    padding: 5px 5px 5px 5px;
    background-color: #ff3300;
    display: none;
    @include xsmallMobile{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}